:root{
    --primary: red;

}
p {
    color: var(--primary)
}


.para1 {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

/* ID selector */
#paraid {
    color: blueviolet;
}

/* Descendant selector */
nav a {
    color: aqua;
}

ul > li {
    color: brown;
}

input[type="email"]{
    border-color: red;
}

.cards{
    margin-top: 10px;
    border:2px solid red;
    
}